<section>
  <h1>whiteboard</h1>
  <div>
    <%= @count %>
    <br />
    <button phx-click="increment">
      +1
    </button>
    <button phx-click="decrement">
      -1
    </button>
  </div>
</section>