/* This file is for your main application css. */

@import "./phoenix.css";

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.phx-logo {
  margin: 0;
}

.container {
  max-width: unset;
  padding-left: 5rem;
  padding-right: 5rem;
}

header {
  padding-left: 10rem;
  padding-right: 10rem;
}

main + footer {
  align-self: flex-end;
}

main + footer p {
  font-size: 95%;
}

main + footer p {
  text-align: right;
  margin: 0;
}

.timestamp {
  font-size: 75%;
  margin-top: 0.75rem;
}

header p {
  margin: 0;
  padding: 0;
  text-align: right;
}

.small::before {
  content: '\002014 ';
  color: black;
  font-size: 90%;
}

#render_target {
  display: flex;
  justify-content: center;
  font-size: 120%;
}

/* Thank you to MDN */
kbd, button.key {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0,0,0,.2), 0 2px 0 0 rgba(255,255,255,.7) inset;
    color: #333;
    display: inline-block;
    font-family: consolas,"Liberation Mono",courier,monospace;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

button.key {
  height: 2.5rem;
  min-width: 2.5rem;
  text-align: center;
  text-transform: unset;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  letter-spacing: 0;
}

button.key.hidden {
  display: none;
}

.pressed {
  background-color: plum !important;
}

table.grid {
  width: auto;
  border: none;
}

table.grid td {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 2rem;
  opacity: 0.8;
  text-align: center;
  font-size: 4rem;
}

header nav a {
  display: inline;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-wrapper article {
  padding: 0 5rem;
}