/* This file is for your main application css. */

@import "./phoenix.css";

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

main + footer {
  text-align: right;
  align-self: flex-end;
}

main + footer p {
  font-size: 95%;
}

.small {
  font-size: 90%;
}

.small::before {
  content: '\002014 ';
  color: black;
  font-size: 90%;
}

#render_target {
  display: flex;
  justify-content: center;
  font-size: 120%;
}