/* This file is for your main application css. */

@import "./phoenix.css";

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.phx-logo {
  margin: 0;
}

.container {
  max-width: unset;
  padding-left: 5rem;
  padding-right: 5rem;
}

header {
  padding-left: 10rem;
  padding-right: 10rem;
}

main + footer {
  align-self: flex-end;
}

main + footer p {
  font-size: 95%;
}

main + footer p {
  text-align: right;
  margin: 0;
}

.timestamp {
  font-size: 75%;
  margin-top: 0.75rem;
}

header p {
  margin: 0;
  padding: 0;
  text-align: right;
}

.small::before {
  content: '\002014 ';
  color: black;
  font-size: 90%;
}

#render_target {
  display: flex;
  justify-content: center;
  font-size: 120%;
}